services:
  spotify-tokens:
    container_name: leave-msg-app
    image: leave-msg-app:v2  # You can update the version as needed
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "${PORT}:${PORT}"  # Map the port specified in the environment variable
    restart: always
    environment:
      - EMAIL_USER=${EMAIL_USER}
      - EMAIL_FROM=${EMAIL_FROM}
      - PASSWORD=${PASSWORD}
      - TELEGRAM_BOT_TOKEN=${TELEGRAM_BOT_TOKEN}
      - TELEGRAM_CHAT_ID=${TELEGRAM_CHAT_ID}
      - PORT=${PORT}
      - ALLOWED_ORIGINS=${ALLOWED_ORIGINS}
